ul {
    list-style: none;
    font-weight: bolder;


    li {

        color: grey;
    }

    a {
        padding: 3px 1px;
        text-decoration: none;
        font-size: 12px;
        font-weight: lighter;
        color: lightgrey;
    }
    

 
}

