
ul {
    margin: 0;
    padding: 0;
    list-style: none;


    li {
        padding: 10px;

        &.active {
           border-bottom: 2px solid red;
         
        }

        a {
            padding: 3px 1px;
            text-decoration: none;
            color: black;
            font-weight: bolder;
        }
    }
}

