nav {
    ul {

        list-style: none;
    
    
        li {
            padding: 8px;
            
    
    
            &.active {
                border-bottom: 6px solid #0282f9;
    
                a {
                    color: #0282f9;
                }
             
             }
        }
    
        a {
            padding: 3px 1px;
            text-decoration: none;
            font-weight: bolder;
            color: black;
            font-size: 15px;
        }
    
     
    }
}


// AppMain

.ms-background {
    background-color: #1c1c1c;
    height: 200px;
    
    .ms-text {
        color: white;
        font-size: 42px;
    }
}

.ms-background-card {
    background-color: #0282f9;
} 

.ms-img {
        height: 90px;
        width: 70px;
}

.font {
    font-size: 14px;
}


// AppFooter 
.ms-footer {
    ul {
        list-style: none;
        font-weight: bolder;
    
    
        li {
    
            color: grey;
        }
    
        a {
            padding: 3px 1px;
            text-decoration: none;
            font-size: 12px;
            font-weight: lighter;
            color: lightgrey;
        }
        
        a:hover {
            color: white;
        }
    
     
    }

}

.ms-footer {
    background-image: url(./src/assets/img/footer-bg.jpg);
    height: 371px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;

    .img-logo-footer {

        .img-position {
        height: 532px;
        width: 600px;
        position: absolute;
        bottom: 1px;
        left: 300px;
        bottom: -90px;
    
    }
    
    }



}


